<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="styles.css">
  <title>Flash into Vue</title>
</head>
<body>
  <div id="flashcard-app" class="container">

    <h1>FLASH into VUE</h1>
    <p id="tagline">A flashcard game created with Vue.js</p>

    <!-- Create a new card -->
    <div class="flashcard-form">
      <b style='display:inline-block'>CREATE A NEW CARD:</b>
      <br class="options-mobile">
      <span class="sort-desktop">&nbsp;</span>
      <label class="new-card-field" for="front">
        <b>Front</b>
        <input v-model="newCardFront" type="text" id="front">
      </label>
      <label class="new-card-field" for="back">
        <b>Back</b>
        <input v-model="newCardBack" v-on:keypress.enter="addNewCard" type="text" id="back">
      </label>
      <button v-on:click="addNewCard()" class="new-card-field">Add a New Card</button>
      <span v-show="error" class="error">Oops! Flashcards need a front and a back.</span>
    </div>

    </br>

    <!-- Card sorting -->
    <div>
      <b>SORT BY MASTERY LEVEL:</b>
      <br class="options-mobile">
      <span class="sort-desktop">&nbsp;</span>

      <i v-on:click="sortCards('all')" class="fa fa-inbox mastery-option-icon all-levels"></i>
      <span class="sort-label-large">All levels</span>
      <span class="sort-label-medium">All</span>
      &nbsp;

      <i v-on:click="sortCards('totally')" class="fa fa-check-circle mastery-option-icon totally-mastered"></i>
      <span class="sort-label-large">Totally Mastered</span>
      <span class="sort-label-medium">Totally</span>
      &nbsp;

      <i v-on:click="sortCards('almost')" class="fa fa-minus-circle mastery-option-icon almost-mastered"></i>
      <span class="sort-label-large">Almost mastered</span>
      <span class="sort-label-medium">Almost</span>
      &nbsp;

      <i v-on:click="sortCards('not')" class="fa fa-times-circle mastery-option-icon not-mastered"></i>
      <span class="sort-label-large">Not mastered</span>
      <span class="sort-label-medium">Not</span>
    </div>

    <!-- Flashcard deck -->
    <div>
    <ul class="flashcard-list">
      <!-- v-if="sortLevel == 'all' || card.masteryLevel == sortLevel" -->
      <li v-on:click="toggleCard(card)" v-for="(card, index) in cards" v-bind:class="card.masteryLevel" class="card-container">
        <transition name="flipCard">
          <!-- Card front -->
          <div v-if="!card.flipped" key="front" class="card">
              {{card.front}}
              <span v-on:click="cards.splice(index, 1)" class="delete-card">X</span>
              <div class="mastery-level">
                <i v-if="card.masteryLevel == 'totally'" class="fa fa-check-circle mastery-indicator-icon totally-mastered"></i>
                <i v-if="card.masteryLevel == 'almost'" class="fa fa-minus-circle mastery-indicator-icon almost-mastered"></i>
                <i v-if="card.masteryLevel == 'not'" class="fa fa-times-circle mastery-indicator-icon not-mastered"></i>
              </div>
          </div>
          <!-- Card back -->
          <div v-else key="back" class="card">
            {{card.back}}
            <span v-on:click="cards.splice(index, 1)" class="delete-card">X</span>
            <div class="mastery-options">
              <i v-on:click="setMasteryLevel(card, 'totally')" class="fa fa-check-circle mastery-option-icon totally-mastered" v-bind:class="{'mastery-indicator-icon':card.masteryLevel == 'totally'}"></i>
              &nbsp;
              <i v-on:click="setMasteryLevel(card, 'almost')" class="fa fa-minus-circle mastery-option-icon almost-mastered" v-bind:class="{'mastery-indicator-icon':card.masteryLevel == 'almost'}"></i>
              &nbsp;
              <i v-on:click="setMasteryLevel(card, 'not')" class="fa fa-times-circle mastery-option-icon not-mastered" v-bind:class="{'mastery-indicator-icon':card.masteryLevel == 'not'}"></i>
            </div>
          </div>
        </transition>
      </li>
    </ul>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
  <script src="app.js"></script>
</body>
</html>