body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
  }

  [v-cloak] {
    display: none
  }
  
  ul {
    display: inline-flex;
    flex-flow: row wrap;
    padding-left: 0;
    justify-content: center;
  }
  
  li {
    list-style-type: none;
    padding: 10px 10px;
    transition: all 0.3s ease;
  }
  
  .container {
    max-width: 100%;
    padding: 2em;
  }
  
  .card {
    background-color: #51aae5;
    border-radius: 7px;
    box-shadow: 9px 10px 22px -8px rgba(209,193,209,.5);
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 20px;
    font-weight: 600;
    height: 175px;
    line-height: 27px;
    margin: 5px;
    overflow-wrap: break-word;
    overflow-y: auto;
    padding: 80px 50px;
    position: relative;
    text-align: center;
    width: 7em;
    will-change: transform;
    -moz-box-shadow: 9px 10px 22px -8px rgba(209,193,209,.5);
    -webkit-box-shadow: 9px 10px 22px -8px rgba(209,193,209,.5);
  }
  
  li:hover {
    transform: scale(1.1);
  }
  
  li:nth-child(-n+3) .card {
    background-color: #e65f51;
  }
  
  li:nth-child(2n+1) .card {
    background-color: #a17de9;
  }
  
  li:nth-child(4n) .card {
    background-color: #feca34;
  }
  
  li:nth-child(5n-2) .card {
    background-color: #51aae5;
  }
  
  li:nth-child(4n+4) .card {
    background-color: #feca34;
  }
  
  li:nth-child(-7n+7) .card {
    background-color: #e46055;
  }
  
  .delete-card {
    opacity: .4;
    padding: 10px 15px;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.5s ease;
  }
  
  .delete-card:hover, .error {
    opacity: 1;
    transform: rotate(360deg);
  }
  
  .flipCard-enter-active {
    transition: all 0.4s ease;
  }
  
  .flipCard-leave-active {
    display: none;
  }
  
  .flipCard-enter, .flip-leave {
    opacity: 0;
    transform: rotateY(180deg);
  }

  #tagline {
    display: none;
  }
  
  /* Form */
  .flashcard-form {
    position: relative;
  }
  
  .new-card-field {
    display: block;
    margin: 0 auto;
  }
  
  label {
    font-weight: 400;
    margin-right: 10px;
  }
  
  input {
    border: 2px solid #eaeaea;
    border-radius: 5px;
    outline: none;
    padding: 10px;
  }

  #back {
    margin-top: 1em;
  }
  
  button {
    background-color: #87cb84;
    border: 1px solid #87cb84;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    outline: none;
    padding: 8px 15px;
    transition: all 0.3s ease;
  }
  
  button:hover {
    background-color: #70a66f;
  }
  
  .error {
    color: #e44e42;
    display: block;
    font-weight: 600;
    margin-top: 10px;
  }

  #front {
    margin-top: 1em;
  }

  button.new-card-field {
    margin-top: 1em;
  }

  .sort-label-medium,
  .sort-label-large,
  .sort-desktop {
    display:none;
  }

  .mastery-level,
  .mastery-options {
    left: 1em;
    margin: 0 auto;
    position: absolute;
    top: 0.5em;
  }

  .mastery-level {
    left: 50px;
    width: 7em;
  }

  .mastery-indicator-icon,
  .mastery-option-icon {
    background-color: white;
    border: 0.1em solid white;
    border-radius: 50em;
    padding: 0.25em;
  }

  .all-levels {
    color: blue;
  }

  .all-levels:hover {
    background-color: paleturquoise;
    border-color: blue;
  }

  .totally-mastered {
    color: green;
  }

  .totally-mastered:hover,
  .mastery-indicator-icon.totally-mastered {
    background-color: palegreen;
    border-color: green;
  }

  .almost-mastered {
    color: goldenrod;
  }

  .almost-mastered:hover,
  .mastery-indicator-icon.almost-mastered {
    background-color: palegoldenrod;
    border-color: goldenrod;
  }

  .not-mastered {
    color: red;
  }

  .not-mastered:hover,
  .mastery-indicator-icon.not-mastered {
    background-color: palevioletred;
    border-color: red;
  }

  @media only screen and (min-width: 675px) {
    #tagline {
      display: inline-block;
    }
    #back {
      margin-top: 0;
    }
  }

  @media only screen and (min-width: 675px) and (max-width: 899px) {
    .new-card-field {
      display: inline-block;
    }
    .options-mobile {
      display: none;
    }
    button.new-card-field {
      display: block;
      margin: 1em auto 0;
    }
    .sort-label-medium,
    .sort-desktop {
      display: inline-block;
    }
  }

  @media only screen and (min-width: 900px) {
    .new-card-field {
      display: inline-block;
    }
    .options-mobile {
      display: none;
    }
    .sort-label-large,
    .sort-desktop {
      display: inline-block;
    }
  }